
/*Number 5*/
#p-blue{
	color: blue;
}


/*Number 6*/
*{
	font-family: 'Roboto', sans-serif;
}

/*Number 7*/
h1{
	font-size: 50px;
}

/*Number 8*/
#h2-tag{
	text-transform: uppercase;
}

/*Number 9*/
.li-bg{
	background-color: #69bf64;
}

/*Number 10*/
li[value]{
	border-width: 2px;
	border-style: solid;
	border-color:navy;
}

/*Number 11*/
img + ul{
	list-style: none;
}

/*Number 12*/
section img{
	border-radius: 450px;
	width: 100px;
}

/*Number 13*/
ul ~ p{
	text-align: center;
	color: black;
}

/*Number 14*/
ul li{
	letter-spacing: 5px;
}